.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 1rem;
  max-width: 65rem;
  width: 100%;
  gap: 2rem;

  .filters-wrapper.pages {
    margin-top: 0;
  }

  .jobsPerPageSelector {
    width: 4rem;
  }

  .paginationWrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-block: 2rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      text-decoration: none;
      color: var(--text-muted);
      border-radius: 0.375rem;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        svg {
          stroke: var(--primary-light);
          stroke-width: 2;
        }
      }

      &:active {
        transform: scale(0.9);
      }

      &.activated {
        background-color: var(--primary-light);
        color: white;
        pointer-events: none;
      }
    }
  }
  .jobsPerPageSelector {
    width: 4rem;
    height: 2.5rem;
  }
}
